<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>ALaCena - Inicio</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="icon" type="image/x-icon" href="/static/img/logo-alc.png" />
		{%block ccs_login%}{%endblock%}
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>ALaCena</strong> by Carlos Hijano</a>
					<nav id="nav">
						<a href="/">Inicio</a>
						<a href="/buscar">Buscador</a>
						<a href="/despensa">Despensa</a>
						<a href="/acercade">Acerca de...</a>
						<a href="/#popup">Entrar / Registrarse</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

			

		<!-- Banner -->
			<section id="banner">
				<div class="inner">
					<header>
						<h1>Que preparamos hoy?</h1>
					</header>

					<div class="flex ">

						<div>
							<span class="icon fa-lemon-o"></span>
							<h3>Variado</h3>
							<p>Descubre nuevos platos </p>
							<p>con lo que te sobra en casa</p>
						</div>

						<div>
							<span class="icon fa-bar-chart"></span>
							<h3>Ahorra</h3>
							<p>Aprovecha al máximo tu </p>
							<p>compra y no tires nada</p>
						</div>

						<div>
							<span class="icon fa-pied-piper"></span>
							<h3>Innovador</h3>
							<p>Vive como en silicon valley</p>
							<p>disfruta de la tecnologia</p>
						</div>

					</div>

					<footer>
						<a href="/buscar" class="button">Empezar</a>
					</footer>
				</div>
			</section>


		<!-- Three -->
			<section id="three" class="wrapper align-center">
				<div class="inner">


					


					<div class="flex flex-2">
						<article>
							<div class="image round">
								<img src="/static/img/GitHub-Mark.png" alt="Pic 01" />
							</div>
							<header>
								<h3>Repositorio de Github</h3>
							</header>
							<p>Enlace al repositorio de Github donde se <br />encuentra todo el codigo de esta aplicación.<br />Proyecto final de la asignatura lenguaje de marcas.</p>
							<footer>
								<a href="https://github.com/hijano94/alacena" class="button">Ir a Github</a>
							</footer>
						</article>
						<article>
							<div class="image round">
								<img src="/static/img/logo-ALC.png" alt="Pic 01" />
							</div>
							<header>
								<h3>Como funciona esto?</h3>
							</header>
							<p>Descubre las posibilidades de la aplicación<br />aprende a usarla y sacale el máximo partido<br /> a esta increible y potente herramienta.</p>
							<footer>
								<a href="info.html" class="button">Leer Más</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>

		<div class="modal-wrapper" id="popup">
   			<div class="popup-contenedor">
   				<form method="post" action="/">
	      			<ul class="alt">
	      				{%if error%}
	      					<div>
								<span class="icon fa-exclamation-circle"></span>
								<p>{{error}}</p>
							</div>
	      				{%endif%}
	      				<li><input name="name" type="text" id="demo-message" placeholder="Usuario" rows="1" ></input></li>
	      				<li><input name="pswd" type="password" id="demo-message" placeholder="Contraseña" rows="1" ></input></li>
	      			</ul>
	      			<ul class="actions">
	      				<li><input type="submit" name="submit" value="registrar" /></li>
						<li><input type="submit" name="submit" value="iniciar" /></li>	
					</ul>
				</form>
      			<a class="popup-cerrar" href="#">X</a>
   			</div>
		</div>

</html>