<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>ALaCena - Buscador</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/static/css/main.css" />
		<link rel="icon" type="image/x-icon" href="/static/img/logo-alc.png" />
		
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="/" class="logo">{%if session["usuario"]%} <strong>{{ session["usuario"] }}</strong> @ {%endif%}<strong>ALaCena</strong></a>
					<nav id="nav">
						<a href="/">Inicio</a>
						<a href="/buscar">Buscador</a>
						<a href="/despensa">Despensa</a>
						<a href="/acercade">Acerca de</a>
						{% if session["usuario"] %}
						<a href="/salir">Salir</a>
						{%else%}
						<a href="/#popup">Entrar / Registrarse</a>
						{%endif%}
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2><strong>Buscador</strong></h2>
						<p>Encuentra tu receta ideal</p>
					</header>

						<form method="post" action="/buscar">
							<div class="row uniform">
								<div class="12u$">
									<textarea name="ingredientes" type="text" id="demo-message" placeholder="Introduce los ingredientes separados por comas..." rows="2" value= "{{ datos['ingredientes'] }}" ></textarea>
								</div>
								<!-- Break -->
								<div class="12u$">
									<h4>Dieta</h4>
								</div>
								<div class="12u$">
									<ul class="actions">
									<li>
										<input type="radio" id="none" name="dieta" value="None" checked>
										<label for="none">Ninguno</label>
									</li>
									<li>
										<input type="radio" id="balanced" name="dieta" value="balanced">
										<label for="balanced">Balanceado</label>
									</li>
									<li>
										<input type="radio" id="high-protein" name="dieta" value="high-protein">
										<label for="high-protein">Alto en proteína</label>
									</li>	
									<li>	
										<input type="radio" id="low-fat" name="dieta" value="low-fat">
										<label for="low-fat">Bajo en Grasas</label>
									</li>
									<li>	
										<input type="radio" id="low-carb" name="dieta" value="low-carb">
										<label for="low-carb">Bajo en Carbohidratos</label>
									</li>		
									</ul>		
								</div>			
								<!-- Break -->
								<div class="12u$">
									<h4>Salud</h4>
								</div>
								<div class="12u$">
									<ul class="actions">
									<li>
										<input type="radio" id="none2" name="salud" value="None" checked>
										<label for="none2">Ninguno</label>
									</li>	
									<li>
										<input type="radio" id="vegan" name="salud" value="vegan">
										<label for="vegan">Vegana</label>
									</li>
									<li>
										<input type="radio" id="vegetarian" name="salud" value="vegetarian">
										<label for="vegetarian">Vegetariana</label>
									</li>
									<li>
										<input type="radio" id="peanut-free" name="salud" value="peanut-free">
										<label for="peanut-free">Sin cacahuetes</label>
									</li>
									<li>
										<input type="radio" id="tree-nut-free" name="salud" value="tree-nut-free">
										<label for="tree-nut-free">Sin frutos secos</label>
									</li>
									</ul>		
								</div>
								<!-- Break -->
								<div class="12u$">
									<ul class="actions">
										<li>
												<input type="radio" id="menos" name="menos" value="True" checked>
												<label for="menos">Menos de</label>
										</li>
										<li>
												<input type="radio" id="mas" name="menos" value="False">
												<label for="mas">Más de</label>
										</li>
										<li>	
												<input type="text" id="calorias" name="calorias" placeholder="Calorias...">
										</li>
									</ul>
								</div>	
								<!-- Break -->
								<div class="12u$">
									<ul class="actions">
										<li><input type="submit" value="buscar recetas" /></li>
										<li><input type="reset" value="Reset" class="alt" /></li>
									</ul>
								</div>
							</div>
						</form>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://pixabay.com/es/">Pixabay</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="/static/js/jquery.min.js"></script>
			<script src="/static/js/skel.min.js"></script>
			<script src="/static/js/util.js"></script>
			<script src="/static/js/main.js"></script>

	</body>
	<div class="modal-wrapper" id="popup">
   			<div class="popup-contenedor">
   				<form method="post" action="/">
	      			<ul class="alt">
	      				{%if error%}
	      					<div>
								<span class="icon fa-exclamation-circle"></span>
								<p>{{error}}</p>
							</div>
	      				{%endif%}
	      				<li><input name="name" type="text" id="demo-message" placeholder="Usuario" rows="1" ></input></li>
	      				<li><input name="pswd" type="password" id="demo-message" placeholder="Contraseña" rows="1" ></input></li>
	      			</ul>
	      			<ul class="actions">
	      				<li><input type="submit" name="submit" value="iniciar" /></li>
	      				<li><input type="submit" name="submit" value="registrar" /></li>	
					</ul>
				</form>
      			<a class="popup-cerrar" href="#">X</a>
   			</div>
		</div>
</html>