<!DOCTYPE HTML>
<!--
	Projection by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>ALaCena - Buscador</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="assets/css/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<a href="index.html" class="logo"><strong>ALaCena</strong> by Carlos Hijano</a>
					<nav id="nav">
						<a href="index.html">Inicio</a>
						<a href="search.html">Buscador</a>
						<a href="despensa.html">Despensa</a>
						<a href="info.html">Acerca de</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Three -->
			<section id="three" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2><strong>Buscador</strong></h2>
						<p>Encuentra tu receta ideal</p>
					</header>

						<form method="post" action="#">
							<div class="row uniform">
								<div class="12u$">
									<textarea name="demo-message" id="demo-message" placeholder="Introduce los ingredientes separados por comas..." rows="2"></textarea>
								</div>
								<!-- Break -->
								<div class="12u$">
									<div class="select-wrapper">
										<select name="demo-category" id="demo-category">
											<option value="">- Dieta -</option>
											<option value="1">Balanceado</option>
											<option value="1">Alto en proteína</option>
											<option value="1">Alto en Fibra</option>
											<option value="1">Bajo en Grasas</option>
											<option value="1">Bajo en Carbohidratos</option>
											<option value="1">Bajo en Sodio</option>
										</select>
									</div>
								</div>
								<!-- Break -->
								<div class="12u$">
									<div class="select-wrapper">
										<select name="demo-category" id="demo-category">
											<option value="">- Salud -</option>
											<option value="1">Vegana</option>
											<option value="1">Sin Soja</option>
											<option value="1">Sin gluten</option>
											<option value="1">Sin Huevo</option>
											<option value="1">Bajo en Azúcar</option>
											<option value="1">Sin Grasas</option>
										</select>
									</div>
								</div>
								<!-- Break -->
								<div class="2u 12u$(small)">
									<input type="radio" id="demo-priority-low" name="demo-priority" checked>
									<label for="demo-priority-low">Menos de</label>
								</div>
								<div class="2u 12u$(small)">	
									<input type="radio" id="demo-priority-normal" name="demo-priority">
									<label for="demo-priority-normal">Más de</label>
								</div>
								<div class="4u 12u$(small)">	
									<textarea name="demo-message" id="demo-message" placeholder="Calorias..." rows="1"></textarea>
								</div>
								<!-- Break -->
								<div class="12u$">
									<ul class="actions">
										<li><input type="submit" value="buscar recetas" /></li>
										<li><input type="reset" value="Reset" class="alt" /></li>
									</ul>
								</div>
							</div>
						</form>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">

					<div class="copyright">
						&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
					</div>

				</div>
			</footer>

		<!-- Scripts -->
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/skel.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>